h1 {
  color: #a79665;
  text-align: center;
  margin-bottom: 20px;
}

.icons-list {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  column-gap: 10px;
  row-gap: 10px;
}

.icon-img {
  width: 100%;
  max-width: 128px;
  height: auto;
}

